<?xml version="1.0" ?>
<launch>

  <!-- Filename of the topological map. -->
  <arg name="file" default=""/>
  <!-- Robot base frame. -->
  <arg name="base_frame" default="base_link" />
  <!-- The action being used for move_base -->
  <arg name="move_base_name" default="move_base"/>
  <!-- The planner being used by move_base. STRANDS systems tend to use DWAPlannerROS Jackal and HSR TrajectoryPlannerROS.  -->
  <arg name="move_base_planner" default="move_base/DWAPlannerROS"/>


  <node pkg="topological_navigation" type="map_manager2.py" name="topological_map_manager" args="$(arg file)" respawn="true"/>

  <node pkg="topological_navigation" name="topological_localisation" type="localisation.py" output="screen" respawn="true">
    <param name="base_frame" value="$(arg base_frame)"/>
  </node>
	
  <node pkg="topological_navigation" name="topological_navigation" type="navigation.py" output="screen" respawn="true">
    <param name="move_base_name" type="str" value="$(arg move_base_name)"/>
    <param name="move_base_planner" type="str" value="$(arg move_base_planner)"/>
  </node>

  <node pkg="topological_navigation" type="visualise_map2.py" name="visualise_map" respawn="true"/>

</launch>
