<?xml version="1.0" ?>
<launch>
  <!-- filename  -->
  <arg name="tmap_file"/>
  <!-- pointset  -->
  <arg name="map"/>
  <!-- if false load a new format map using the map manager 2, else load an old format map using the old map manager  -->
  <arg name="legacy" default="false"/>
  <!-- The planner being used by move_base. STRANDS systems tend to use DWAPlannerROS Jackal and HSR TrajectoryPlannerROS.  -->
  <arg name="move_base_planner" default="move_base/DWAPlannerROS"/>
  <!-- What action is being used for move_base -->
  <arg name="move_base_name" default="move_base"/>

  <node pkg="robot_pose_publisher" type="robot_pose_publisher" name="robot_pose_publisher"/>	

  <!-- -f arg loads the map directly from its file, rather than mongodb. Applies only to the old map manager. -->
  <node pkg="topological_navigation" type="map_manager.py" name="topological_map_manager" args="-f $(arg tmap_file)" respawn="true" if="$(arg legacy)"/>
  <node pkg="topological_navigation" type="map_manager2.py" name="topological_map_manager" args="$(arg tmap_file)" respawn="true" unless="$(arg legacy)"/>

  <node pkg="topological_navigation" name="topological_localisation" type="localisation.py" output="screen" respawn="true"/>
        
  <node pkg="topological_navigation" name="speed_based_prediction" type="speed_based_prediction.py" output="screen" respawn="true"/>

  <node pkg="topological_navigation" name="topological_navigation" type="navigation.py" output="screen" respawn="true">
    <param name="move_base_planner" type="string" value="$(arg move_base_planner)"/>
    <param name="move_base_name" type="string" value="$(arg move_base_name)"/>
  </node>

  <node pkg="topological_navigation" type="visualise_map.py" name="visualise_map" args="$(arg map)" respawn="true"/>

  <node pkg="topological_rviz_tools" name="topmap_interface" type="python_topmap_interface.py" output="screen">
    <param name="map_name" value="$(arg map)"/>
  </node>

</launch>
