<?xml version="1.0" ?>
<launch>

	<arg name="tmap_file"/>
	<arg name="machine" default="localhost"/>
	<arg name="user" default=""/>
	<arg name="vis" default="true"/>


	<machine name="$(arg machine)" address="$(arg machine)" env-loader="$(optenv ROS_ENV_LOADER )" user="$(arg user)" default="true"/>

	<node pkg="topological_navigation" type="map_manager2.py" name="topological_map_manager2" args="$(arg tmap_file)" respawn="true"/>

	<node pkg="topological_navigation" type="visualise_map.py" name="visualise_map" args="-e" respawn="false" if="$(arg vis)"/>

 	<node pkg="topological_navigation" type="get_simple_policy.py" name="get_simple_policy" respawn="true"/>

 	<node pkg="topological_navigation" type="get_distances_between_nodes.py" name="get_distances_between_nodes" respawn="true"/>

 	<!-- <node pkg="rviz" type="rviz" name="rviz" respawn="true"/> -->


</launch>
