<?xml version="1.0" ?>
<launch>

  <!-- 2D occupancy grid map  -->
  <arg name="map"/>
  <!-- filename of the topological map  -->
  <arg name="tmap_file"/>
  <!-- pointset of the topological map (its name in the mongo database)  --> 	 	
  <arg name="pointset"/>
  <!-- if false load a .tmap2 using the map manager 2, else load a .tmap using the legacy map manager  -->
  <arg name="legacy" default="false"/> 

  <arg name="machine" default="localhost" />
  <arg name="user" default="" />

  <machine name="$(arg machine)" address="$(arg machine)" env-loader="$(optenv ROS_ENV_LOADER )" user="$(arg user)" default="true"/>

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map)" output="screen"/>
  <node pkg="tf" type="static_transform_publisher" name="static_transform_publisher" args="1 0 0 0 0 0 1 /map none 100" output="screen"/>

  <!-- The -f arg tells the legacy map manager to load the tmap directly from its file, rather than mongodb. If loading from mongodb pass the pointset. 
       Map manager 2 loads the tmap2 from its file only (does not support mongodb). -->
  <node pkg="topological_navigation" type="map_manager.py" name="topological_map_manager" args="-f $(arg tmap_file)" respawn="true" if="$(arg legacy)"/>
  <node pkg="topological_navigation" type="map_manager2.py" name="topological_map_manager" args="$(arg tmap_file)" respawn="true" unless="$(arg legacy)"/>

  <node pkg="fremenserver" type="fremenserver" name="fremenserver" output="screen"/>
  <node pkg="topological_navigation" type="visualise_map.py" name="visualise_map" args="$(arg pointset) -e"/>

  <node pkg="topological_navigation" type="topological_prediction.py" name="topological_prediction" output="screen"/>

</launch>
