<?xml version="1.0" ?>
<launch>

  <!-- 2D occupancy grid map  -->
  <arg name="map"/>
  <!-- filename of the topological map  -->
  <arg name="tmap_file"/>
  <!-- pointset of the topological map (its name in the mongo database)  --> 	
  <arg name="pointset"/> 
  <!-- if false load a new format map (.tmap2) using the map manager 2, else load an old format (.tmap) map using the old map manager  -->
  <arg name="legacy" default="false"/> 
	
  <!-- launch map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map)"/>
  <node name="static_transform_publisher" pkg="tf" type="static_transform_publisher" args="1 0 0 0 0 0 1 /map none 100"/>

  <!-- The -f arg tells the legacy map manager to load the tmap directly from its file, rather than mongodb. If loading from mongodb pass the pointset. 
       Map manager 2 loads the tmap2 from its file only (does not support mongodb). -->
  <node pkg="topological_navigation" type="map_manager.py" name="topological_map_manager" args="-f $(arg tmap_file)" respawn="true" if="$(arg legacy)"/>
  <node pkg="topological_navigation" type="map_manager2.py" name="topological_map_manager" args="$(arg tmap_file)" respawn="true" unless="$(arg legacy)"/>

  <node pkg="topological_navigation" type="visualise_map.py" name="visualise_map" args="$(arg pointset) -e" respawn="true" output="screen"/> 
  <node pkg="rviz" type="rviz" name="rviz" args="$(find topological_utils)/support/map_edition.rviz" /> 

  <node name="map_tf_broadcaster" pkg="tf" type="static_transform_publisher" args="1 0 0 0 0 0 1 map world 100" />

</launch>
